{% extends "layout.html" %}
{% block body %}

      <div class="page-header">
        <h1>Add Profile</h1>
      </div>

      <form role="form" action="" method="post" name="addprofile"
            class="form-horizontal">
        <div class="form-group">
          <label for="title" class="control-label col-sm-2">Name:</label>
          <div class="col-sm-10">
            <input type="text" name="first_name" id='first_name' required autofocus />
          </div>
        </div>

        <div class="form-group">
          <label for="year" class="control-label col-sm-2">Surname:</label>
          <div class="col-sm-10">
            <input type="text" name="surname" id='surname' />
          </div>
        </div>
		
		<div>
		<label for="university" class="control-label col-sm-2">Select your university:</label>	
		<div class="input-field col s12">
			<select name="uni_id">
				{% for id, name in universities %}	
  				<option value="{{ id }}">{{ name }}</option>
  				{% endfor %}
  			</select>
  		</div>
  		</div>
		

        <div class="form-group">
          <label for="title" class="control-label col-sm-2">Your message (max: 80 char.):</label>
          <div class="col-sm-10">
            <input type="text" name="mess" id='mess' required autofocus />
          </div>
        </div>
        
        <button class="btn waves-effect waves-light" type="submit" name="action">Add Profile!
    		<i class="material-icons right">add_circle_outline</i>
  		</button>
  		
      </form>
      
{% endblock %}