{% extends "layout.html" %}
{% block body %}

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center red-text text-lighten-1">Deleted Feed Posts</h1>

            {% if not feed %}
                <div class="row center">
                    <h5 class="header col s12 light">There are no deleted posts.</h5>
                </div>
            {% else %}
                <div class="row center">
                    <h5 class="header col s12 light">These are no deleted posts by the admin.</h5>
                </div>

                {% for id, post_title, remover in feed %}

                    <div class="row center">
                        <div class="col s12 m12">
                            <div class="card light-blue lighten-3">
                                <div class="card-content">
                                    <span class="card-title">{{ post_title }}</span>
                                    <p>
                                        Removed by {{ remover }}
                                    </p>
                                </div>
                                <div class="card-action" id="feedactions">
                                    {% if current_user.is_admin %}
                                        <a href="/delete-from-posts/{{ id }}">Delete this post completely!</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            {% endif %}
            <div class="row center">
                <a class="btn-large waves-effect waves-light red lighten-1" href="/feed">Back to Feed</a>
            </div>
            <div class="row center grey-text">
                This page is created by Burak Karakan.
            </div>
        </div>
    </div>
{% endblock %}