{% extends "layout.html" %}
{% block body %}

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center red-text text-lighten-1">Feed</h1>
        <div class="row center">
            <h5 class="header col s12 light">This page is where the post feed will be shown.</h5>
        </div>

        {% if data %}

        <form method="post">
            <div class="card">
                <div class="card-content">

                    {% for post_id, title, name in posts %}
                    <p>
                        <input type="checkbox" name="selected_posts" id="{{post_id}}" value="{{post_id}}"/>
                        <label for="{{post_id}}">{{ title }} - written by {{ name }}</label>
                    </p>
                    {% endfor %}
                </div>
            </div>

            <div class="row center">
                <button class="btn waves-effect waves-light red lighten-1" type="submit" name="action">Add These
                    to Feed
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>

        {% else %}
        <div class="row center">
            <div class="col l6 offset-l3">
                <div class="card red darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">No more posts to add :(</span>
                        <p>All the posts are added to the feed.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row center">
            <a class="btn-large waves-effect waves-light red lighten-1" href="/feed">Back to Feed</a>
        </div>
        {% endif %}

        <div class="row center grey-text">
            This page is created by Burak Karakan.
        </div>
    </div>
</div>
{% endblock %}