{% extends "layout.html" %}
{% block body %}


<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center red-text text-lighten-1">Post</h1>
        <div class="row center">
            <h5 class="header col s12 light">Tell us your story.</h5>
        </div>

        <div class="row">
            <div class="row">
                <form class="col s12" method="POST" action="post">
                    <div class="row">
                        <div class="input-field col s4">
                            <input placeholder="Title" id="title" name="title" type="text">
                            <label for="title">Title for your post</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea id="post_string" name="post_string" class="materialize-textarea"></textarea>
                            <label for="post_string">Enter a new post</label>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="right">
                            <button class="btn waves-effect waves-light" class="z-depth-3" type="submit" name="action"
                                    action="post">Submit post
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                   
                        <div class="input-field col s3">
                            <input placeholder="category" id="category" name="category" type="text">
                            <label for="category">Category of your post</label>
                        </div>
                </form>
            </div>



            <div class="row center">
                <div class="col s12 m12">
                    <div class="card teal lighten-1">
                        <div class="card-content white-text">
                            <span class="card-title">Your most recent post about {{category_name}}</span>
                            <p>
                                {{ text }}
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="/edit">Edit this post</a>
                            <a href="/post/delete-most-recent">Delete from your posts</a>
                        </div>
                    </div>
                </div>
            </div>
<p> Most relevant 2 categories nowadays </p>
          <ul class="collection">
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">{{category1}}</span>
      <p><a href="/edit-category"> Edit<br> </a>

      </p>
      <a href="/post/delete_most_relevant_category" class="secondary-content"><i class="material-icons">delete</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title">{{category2}}	</span>
   <p><a href="/edit-category2"> Edit<br> </a>
   
      </p>
      <a href="post/delete_most_relevant_category" class="secondary-content"><i class="material-icons">delete</i></a>
    </li>
    
    
  </ul>
         


            <div class="row center">
                <a class="btn-large waves-effect waves-light red lighten-1" href="/">Back to Home</a>
            </div>
            <div class="row center grey-text">
                This page is created by Şahin Olut.
            </div>
        </div>
    </div>
    {% endblock %}
