{% extends "layout.html" %}
{% block body %}

      <div class="col s12 m8 offset-m2 l6 offset-l3">
      <br>
        <div class="row center">
           <img 
           src="https://yt3.ggpht.com/-ZMIBy9YoqTo/AAAAAAAAAAI/AAAAAAAAAAA/i1h9VYSn8cU/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" 
           alt="" 
           class="circle responsive-img" 
           width=30%> <!-- notice the "circle" class -->
          </div> 
      </div>
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel cyan accent-2 z-depth-1">
          <div class="row">
            <div class="center-align">
                <h3 class="pink-text text-darken-2">Diedon BUJARI</h3><br>
                <div class="row center text-light-1 profile-text">
		          Istanbul Technical University
		          <br>
		          Computer Engineering Department
		      </div>         
            </div>
          </div>
        </div>
      </div>
      <div class="row center grey-text text-light-1">
          This page is created by Diedon BUJARI.
      </div>
      
{% endblock %}