{% extends "layout.html" %}
{% block body %}

<ul>
    	<li><a href="{{ url_for('profile.create_and_seed') }}">Create and seed Profile table</a></li>
    	<li><a href="{{ url_for('profile.add_profile') }}">Add Profile</a></li>
    	<li><a href="{{ url_for('profile.delete_profile') }}">Delete Profile</a></li>
    	<li><a href="{{ url_for('profile.update_profile') }}">Update Profile</a></li>
    	
</ul>

      <div class="row">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row center valign-wrapper">
            <div class="col s2">
              <img src="https://cdn-images-1.medium.com/fit/c/100/100/1*ygV_EVIIUzWP3IDpcTUmvg.png" 
              alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10 center">
              <h4 class="pink-text text-darken-1 profile-text">Sara Benincasa</h4><br>
              <div class="row center grey-text text-light-1">
          			<i>Comedian and author. My latest book is "Real Artists Have Day Jobs".</i>
          			<div class="row center black-text text-light-1">
          					<b>4.1K</b> Following	<b>12.6K</b> Followers
      		  		</div> 
      		  </div>
            </div>
          </div>
        </div>
      </div>
      <b>Sara's posts:</b><br>
      	<div class="row">
	      	<div class="card-panel teal lighten-2 col l5 center black-text text-light-1">
	      			<br>
	      			<img src="https://cdn-images-1.medium.com/max/240/1*wQVyy57xRMwny9F82o5-Rw.jpeg"><br>
	          		<b><i>How To Treat A Lady On The Internet!?</i></b><br><br>
	      	</div> 
	      	<div class="card-panel teal lighten-2 col l5 offset-l2 center black-text text-light-1">
	      			<br>
	      			<img src="https://cdn-images-1.medium.com/max/360/1*6uPKS5FKOEjZu04M5YHW_Q.jpeg"><br>
	          		<b><i>The Bar that saved me!</i></b><br><br>
	      	</div> 
      	</div>
      <div class="row center grey-text text-light-1">
          This page is created by Diedon Bujari.
      </div>
      
{% endblock %}