{% extends "layout.html" %}
{% block body %}

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header  red-text text-lighten-1">Publications</h1>
        <div class="row right">
            <h5 class="header col s12 light">Following</h5>
        </div>
         {% for publication_id, publication_title, publisher in feed %}
            <div class="row ">
                <div class="col s12 m12">
                    <div class="row card green lighten-3">
                    	<div class="col s2 m2 img-pub card-content">
                    		<a href="https://instagram.com/bbyalcinkaya">
                    			<img class="circle responsive-img" src="https://hrcdn.net/s3_pub/hr-avatars/82786d7d-e728-4752-b6f3-309b141d9c10/150x150.png">
                    		</a>
                    	</div>
                        <div class="col s6 m6 card-content white-text">
                            <span class="card-title"> {{publication_title}}  </span>
                            <p>
                                {{publication_title}} {{publication_id}}
                            </p>
                        </div>
                        <div class="col s3 m3 card-action right">
                            <a href="http://twitter.com/norveclibalikci">Unfollow</a>
                        </div>
                    </div>
                </div>
            </div>
  			{% endfor %}
        
   		<div class="row right">
            <h5 class="header col s12 light">Suggested</h5>
        </div>
            <div class="row ">
                <div class="col s12 m12">
                    <div class="row card blue lighten-3">
                    	<div class="col s2 m2 img-pub card-content ">
                    		<a href="https://twitter.com/norveclibalikci">
                    			<img class="circle responsive-img" src="http://www.usanetwork.com/sites/usanetwork/files/mrrobot_s2_cast_martin_wallstrom.jpg">
                    		</a>
                    	</div>
                        <div class="col s6 m6 card-content ">
                            <span class="card-title">Publication {{ index }}</span>
                            <p>
                                Description of publication {{ index }}
                            </p>
                        </div>
                        <div class="col s3 m3 card-action right">
                            <a href="https://twitter.com/miraclefanboi">Follow</a>
                            
                        </div>
                    </div>
                </div>
            </div>
		<div class="row">
		    <form class="col s12" method="POST" action="publications">
		      
		      
		      <div class="row">
		        <div class="input-field col s12">
		          <input id="pub_id" name="pub_id" type="number" class="validate">
		          <label for="pub_id">Id</label>
		        </div>
		      </div>
		      
		      
		      
		      <div class="row">
		        <div class="input-field col s12">
		          <input name='title' id="title" type="text" class="validate">
		          <label for="title">Title</label>
		        </div>
		      </div>
		      
		      <div class="row">
		        <div class="input-field col s12">
		          <input name='publisher' id="publisher" type="text" class="validate">
		          <label for="publisher">Publisher</label>
		        </div>
		      </div>
		     
			  <button class="btn waves-effect waves-light" type="submit" name="action">ADD
			    <i class="material-icons right">send</i>
			  </button>		        
		    </form>
		  </div>
		  
		  <div class="row">
		    <form class="col s12"  method="POST" action="publications/delete">
		    	<div class="row">
		        	<div class="input-field col s12">
		         	 <input name='del_id' id="del_id" type="number" class="validate">
		         		 <label for="del_id">Enter ID to delete</label>
		       		 </div>
		     	 </div>
		    <button class="btn waves-effect waves-light" type="submit" name="action">DELETE
			   	 <i class="material-icons right">send</i>
				  </button>
				  </form>
		   </div>
		   
		  <div class="row">
		    <form class="col s12"  method="POST" action="publications/select">
		    	<div class="row">
		        	<div class="input-field col s12">
		         	 <input name='sel_id' id="sel_id" type="number" class="validate">
		         		 <label for="sel_id">Enter the ID </label>
		       		 </div>
		     	 </div>
		    <button class="btn waves-effect waves-light" type="submit" name="action">Select from ID
			   	 <i class="material-icons right">send</i>
				  </button>
				  </form>
		   </div>
		   <div class="row">
		    <form class="col s12"  method="POST" action="publications/update">
		    	<div class="row">
		        	<div class="input-field col s12">
		         	 <input name='up_id' id="up_id" type="number" class="validate">
		         		 <label for="up_id">Enter the ID </label>
		       		 </div>
		     	 </div>
		     	 <div class="row">
		        	<div class="input-field col s12">
		         	 <input name='up_tit' id="up_tit" type="text" class="validate">
		         		 <label for="up_tit">Enter the new title </label>
		       		 </div>
		     	 </div>
		    <button class="btn waves-effect waves-light" type="submit" name="action">Update with ID
			   	 <i class="material-icons right">send</i>
				  </button>
				  </form>
		   </div>
		   
        <div class="row center">
            <a class="btn-large waves-effect waves-light red lighten-1" href="/">Back to Home</a>
        </div>
        <div class="row center grey-text">
            This page is created by Ugur Uysal.
        </div>
    </div>
</div>
{% endblock %}


